In [7]:
import numpy as np
import pandas as pd

In [9]:
from numpy.random import randn

In [11]:
range(0,10)

range(0, 10)

In [29]:
lst = ['A','B','C','D','E']

In [28]:
arr

array([1, 2, 3, 4, 5])

In [32]:
df = pd.DataFrame(randn(5,10),lst,['A','B','C','D','E','F','G','H','I','J'])

In [33]:
df

,A,B,C,D,E,F,G,H,I,J
A,0.450524,-1.003411,-0.872929,0.457351,1.122084,-1.118209,-0.409464,-1.304882,-0.289577,-0.373034
B,0.584686,0.170908,-1.759637,-1.381467,1.674612,0.374802,1.739926,0.959201,0.844961,0.224533
C,-0.340984,-0.496933,-1.081896,-0.935927,-2.137983,0.456043,-0.214093,-0.161692,0.636324,0.573896
D,0.097207,-1.490830,2.442457,0.847986,-1.007856,0.526070,-1.568264,-1.200057,1.157124,0.289672
E,1.127703,-0.038205,-1.032921,-0.545986,-1.092079,-0.941850,2.302604,-1.016910,2.032894,-1.483337

In [40]:
df[df['G']<1]

,A,B,C,D,E,F,G,H,I,J
A,0.450524,-1.003411,-0.872929,0.457351,1.122084,-1.118209,-0.409464,-1.304882,-0.289577,-0.373034
C,-0.340984,-0.496933,-1.081896,-0.935927,-2.137983,0.456043,-0.214093,-0.161692,0.636324,0.573896
D,0.097207,-1.490830,2.442457,0.847986,-1.007856,0.526070,-1.568264,-1.200057,1.157124,0.289672

In [ ]:
df