In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [10]:
df

             A         B
G1 1 -0.052716  2.496523
   2  0.487511  1.365015
   3 -0.103475 -0.100579
G2 1 -0.381312  1.487092
   2  0.013033 -2.715099
   3  0.086764  0.208078

In [11]:
df.loc['G1'].loc[1]

A   -0.052716
B    2.496523
Name: 1, dtype: float64

In [13]:
df.index.names

FrozenList([None, None])

In [14]:
df.index.names = ['Groups','Num']

In [15]:
df

                   A         B
Groups Num
G1     1   -0.052716  2.496523
       2    0.487511  1.365015
       3   -0.103475 -0.100579
G2     1   -0.381312  1.487092
       2    0.013033 -2.715099
       3    0.086764  0.208078

In [16]:
df.loc['G2'].loc[2]['B']

-2.715098800434971

In [19]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.052716  2.496523
G2     -0.381312  1.487092