In [1]:
#dictionaries

In [2]:
d ={'key1':'value1','key2':122}

In [3]:
d['key1']

'value1'

In [4]:
d['key2']

122

In [5]:
d = { 'k1':[1,3,4]}

In [6]:
d['k1']

[1, 3, 4]

In [7]:
d['k1'][1]

3

In [8]:
my_list = d['k1']

In [9]:
my_list[1]

3

In [10]:
d={'k1':{'innerKey':[1,2,3]}}

In [11]:
 value = d['k1']

In [12]:
vlaue['innerKey'][1]

NameError: name 'vlaue' is not defined

In [13]:
value['innerKey'][1]

2

In [14]:
#booleans 
True, False

(True, False)

In [23]:
my_list =[1,2,3]

In [24]:
my_list[0]

1

In [ ]:
#tuples

In [21]:
t =(1,2,3)

In [22]:
t[0]

1

In [26]:
my_list[0] = 'new'

In [27]:
my_list

['new', 2, 3]

In [28]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [29]:
#tuples are immutable. it means they can't get changed their contents later. set() function grabs unique data in a set

In [30]:
#sets a series of unique data

In [31]:
{1,2,3}

{1, 2, 3}

In [32]:
{1,1,1,2,2,2,3,3,3,3}

{1, 2, 3}

In [33]:
set([1,1,1,1,1,1,2,2,2,2,2,22,5,5,5,5,5,5])

{1, 2, 5, 22}

In [34]:
s = {1,2,3}

In [35]:
s.add(8)

In [36]:
s

{1, 2, 3, 8}

In [37]:
#comparison operators

In [38]:
1>2

False

In [39]:
1<2

True

In [40]:
1>=3

False

In [41]:
1<=2

True

In [42]:
1 == 1 # onluy one equal sign for comparison retruns an error because python would think we are assigning variables.

True

In [43]:
2 != 2 #not equal to

False

In [44]:
'hi' == 'bye'

False

In [45]:
# and & or

In [46]:
1<2 and 2<3

True

In [47]:
(1<2) and (2>3)

False

In [48]:
(1<2) or (2>3)

True

if statements

In [49]:
if 1 <2:
    print('yep!')

yep!

In [50]:
if 1 == 2:
    print('first')
else:
    print('last')

last

In [51]:
if 1 ==2:
    print('false')
elif 2==3:
    print('true')
else:
    print('fuck')

fuck